<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LookAtFace.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74AABFA61F36F2F80057C6C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74AABFBD1F36F2F90057C6C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74AABFC81F36F2F90057C6C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
